@import "tailwindcss";

body {
	width: 100vw;
	min-height: 100vh;
	color: white;
	background-image: linear-gradient(to bottom right, #000000, #1f2937, #1f2937);
	margin: 0;
	font-family: system-ui, sans-serif;
}

/* Custom color variable */
:root {
	--color-primary: #a17878;
}

/* Password field styling */
.password-container {
	position: relative;
}

.password-container span {
	position: absolute;
	right: 10px;
	top: 50%;
	transform: translateY(-50%);
	cursor: pointer;
}
